In [ ]:
# Intoduction to "F" string

In [41]:
first = '     maneesh'
middle = 'kumar '
last = ' pandey '
print(f"{first.title()} {last.upper()} {middle.lower()}")

     Maneesh  PANDEY  kumar

In [35]:
print(f" My first name is :" , first , "My middle name is : ", middle , "My last name is :",  last )

 My first name is :  maneesh My middle name is :  kumar  My last name is :  pandey

In [36]:
print(f" My first name is :" , first , "\t My middle name is : ", middle , "\t My last name is :",  last )

 My first name is :  maneesh 	 My middle name is :  kumar  	 My last name is :  pandey

In [37]:
print(f" My first name is :" , first , "\n My middle name is : ", middle , "\n My last name is :",  last )

 My first name is :  maneesh
 My middle name is :  kumar
 My last name is :  pandey

In [44]:
print(f" My first name is :" , first.lstrip(' ') , "\n My middle name is :", middle.rstrip() , "\n My last name is :",  last.lstrip() )

 My first name is : maneesh
 My middle name is : kumar
 My last name is : pandey

In [45]:
print(f" My first name is :" , first.lstrip(' ') , "\n\t My middle name is :", middle.rstrip() , "\t\n My last name is :",  last.lstrip() )

 My first name is : maneesh
	 My middle name is : kumar
 My last name is : pandey